<?xml version="1.0"?>
<launch>

    <arg name="map_name" default="test"/>

    <node pkg="autopilot_map_server" type="map_server" name="route_map" output="screen">
        <param name="map_path" type="string" value="$(find autopilot_map_server)/map/$(arg map_name)"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find autopilot_map_server)/launch/route_map_rviz_cfg.rviz"/>

</launch>
